@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

* {
    font-family: 'Jeju Gothic', serif;
}

header img {
    width: 100%;
    height: 200px;
    margin-top: 10px;
}

.root-container {
    margin: 0 20%;
    padding-top: 50px;
    position: relative;
}

.a-button {
    text-decoration: none;
    background-color: #ffbd03;
    color: black;
    padding : 5px;
}

header {
    position: relative;
}

.login-button {
    position: absolute;
    right: 0;
}

.slide-panel {
    margin-top: 10px;
      /*display: flex;*/
    /*max-width: 100%;*/
    text-align: center;
}

.slide-image {
    width: 32%;
    height: auto;
}

.search-panel {
    height: 45px;
}

.search-panel * {
    height: 100%;
}

.search-panel table {
    width: 100%;
}

.search-panel td:nth-child(1) {
    width: 10%;
}

.search-panel td:nth-child(2) {
    width: 60%;
}

.search-panel td:nth-child(3) {
    width: 10%;
}

.search-panel td:nth-child(4) {
    width: 5%;
}

.search-panel td:nth-child(5) {
    width: 5%;
}

.search-panel td:nth-child(6) {
    width: 10%;
}

.search-panel input, .search-panel button {
    width: 99%;
}

.content-panel {
    background-color: #555756;
    height: 800px;
    margin-top: 5px;
}

.specific-search-panel {
    height: 20%;
    height: 150px;
    background-color: #5F81E4;
    display: none;
}
