@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
* {
    font-family: 'Jeju Gothic', serif;
}

body {
    background-color: #f9f9f9;
}

.login-container {
    /*background-color: gray;*/
    margin: 0 auto;
    width: 350px;
    font-size: 13px;
    padding: 70px;
    /*text-align: center;*/
    /*display: inline-block;*/
}

.login-icon-container {
    margin-bottom: 20px;
}

.social-icon {
    width: 84px;
    height: 45px;
    line-height: 45px;
    /*margin: 10px;*/
    text-align: center;
    display: inline-block;
}

.facebook-icon {
    background-color: #3b5998;
    color: white
}

.naver-icon {
    background-color: #00c73c;
    color: white;
}

.twitter-icon {
    background-color: #48a9e0;
    color: white;
}

.google-icon {
    background-color: white;
    color: black;
}

.login-form {}

.login-form input[type="text"], .login-form input[type="email"], .login-form input[type="password"] {
    margin-top: 10px;
    width: 100%;
    height: 45px;
    font-family: sans-serif;
    color: black;
}

#remember-check {
    height: 11px;
    width: auto;
}

.login-form button, #login-submit {
    background-color: #fd5c9f;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    width: 100%;
    height: 45px;
    color: white;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #e4e4e4;
}

.login-menus {
    text-align: center;
    margin-top: 20px;
}

.login-menus li {
    display: inline-block;
    margin: 5px;
}

.login-menus li a {
    text-decoration: none;
}
