build/
/gradle/
/.gradle/
/.vertx/
/.idea/
/logs/
client
/out/
/output/
*.class
pik-core/src/main/resources/webroot/
pik-core/file-uploads/
pik-utils/src/main/resources/conf/SecureConfig.xml
*.class
/bin/
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/ProjectSettings.json